#search-bar-wrap {
    padding: 5px;
    min-width: 4rem;
    display: flex;
    margin-right: 10rem;
    margin-left: 1rem;
    position: relative;
  }
  #search-bar {
    width: 40vw;
    min-width: 4rem;
    max-width: 30rem;
    padding: 0.4rem 1rem;
    border-radius: 2rem 0 0 2rem;
    background-color: var(--background-2nd);
    color: var(--text);
    outline: none;
    border: none;
    background-color: var(--background);
  }
  #search-btn {
    background-color: var(--background);
    border: none;
    border-radius: 0 2rem 2rem 0;
    width: 3rem;
    height: 2rem;
    cursor: pointer;
  }
  #search-btn img {
    filter: var(--invert);
  }
  
  #searchTerm-results-wrap {
    padding: 1rem;
    border-radius: 1rem;
    border-top: none;
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    background-color: var(--background-2nd);
    box-shadow: var(--shadow);
    max-height: 60vh;
    overflow-y: auto;
    z-index: 50;
  }
  .searchTerm-result {
    padding: 0.2rem;
    cursor: pointer;
    border-radius: 1rem;
    padding: 0.3rem 0.8rem;
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .searchTerm-result:hover {
    background-color: var(--background-3rd);
  }
  
  .searchTerm-result-poster {
    width: 50px;
    height: 60px;
    object-fit:contain;
  }
  
  
  /* @media (max-width: 600px) { */
  @media (max-width: 780px) {
    .header {
      flex-wrap: wrap;
    }
  
    .header-app-name {
      display: block;
    }
  
    #search-bar-wrap {
      order: 1;
      width: 100%;
      margin: 0.5rem 0 0;
    }
  
    #search-bar {
      width: calc(100% - 3rem); /* Subtracting the width of the search button */
      max-width: none;
    }
  
    .header-logo-container,
    .header-right-icons-wrap {
      flex: 1;
    }
  
    .header-right-icons-wrap {
      justify-content: flex-end;
    }
  }
  
  #suggestions-container {
    position: relative;
    overflow: hidden;
  }
  
  #suggestions {
    padding: .7rem;
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
    -webkit-mask-image: linear-gradient(to right, transparent, black 30px, black calc(100% - 30px), transparent);
    mask-image: linear-gradient(to right, transparent, black 30px, black calc(100% - 30px), transparent);
  }
  
  #suggestions::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
  }
  
  .suggestion-item {
    flex: 0 0 auto;
    padding: 0.5rem 1rem;
    margin-right: 0.4rem;
    background-color: var(--background-2nd);
    border-radius: 1rem;
    white-space: nowrap;
    cursor: pointer;
  }
  
  /* Optional: Add padding to the first and last items to prevent them from being cut off */
  .suggestion-item:first-child {
    margin-left: 30px;
  }
  
  .suggestion-item:last-child {
    margin-right: 30px;
  }
  
  .selectedSuggestion {
    background-color: var(--background-3rd);
    border: 2px solid var(--text);
  }
  
  #searched-results-wrap{
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
    gap: 1rem;
    place-items: center;
    padding-bottom: 3rem;
  }
  
  .searched-results{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
  
  .searched-results:hover{
    background-color: var(--background-2nd);
    border-radius: .4rem;
  }
  
  .searched-results-poster{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  .searched-results-text{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  .searched-results-title{
    font-size: 1.2rem;
  }
  
  .no-results-message {
    padding: 1rem;
    text-align: center;
    font-style: italic;
    grid-column: 1 / -1;
  }
  